In [1]:
!pip install sqlalchemy
!pip install pyhive
!pip install thrift
!pip install sasl
!pip install thrift-sasl 
!pip install psycopg2

import psycopg2
import sqlalchemy
import pandas as pd
from sqlalchemy.engine import create_engine

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.36)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pyhive in /opt/conda/lib/python3.9/site-packages (0.6.5)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from pyhive) (2.8.2)
Requirement already satisfied: future in /opt/conda/lib/python3.9/site-packages (from pyhive) (0.18.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil->pyhive) (1.16.0)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: thrift in /opt/conda/lib/python3.9/site-packages (0.16.0)
Requirement already satisfied: six>=1.7.2 in /opt/conda/lib/python3.9/site-packages (from thrift) (1.16.0)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: sasl in /opt/conda/lib/python3.9/site-packages (0.3.1)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from sasl) (1.16.0)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: thrift-sasl in /opt/conda/lib/python3.9/site-packages (0.4.3)
Requirement already satisfied: six>=1.13.0 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (1.16.0)
Requirement already satisfied: thrift>=0.10.0 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (0.16.0)
Requirement already satisfied: pure-sasl>=0.6.2 in /opt/conda/lib/python3.9/site-packages (from thrift-sasl) (0.6.2)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: psycopg2 in /opt/conda/lib/python3.9/site-packages (2.9.3)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: pip install --upgrade pip

In [2]:

engine = create_engine('hive://spark-thrift:10000/default')
pd.read_sql_query("create database if not exists sample",con=engine)
pd.read_sql_query("show databases",con=engine)

  namespace
0   default
1    sample

In [3]:
pd.read_sql_query("use sample", con=engine)
pd.read_sql_query("show tables", con=engine)

Empty DataFrame
Columns: [database, tableName, isTemporary]
Index: []

In [4]:
pd.read_sql_query("drop table if exists sample.tbl1 PURGE", con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [5]:

pd.read_sql_query("""
    create external table if not exists sample.tbl1 (ckey int, cval varchar(64))
    ROW FORMAT DELIMITED 
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE 
    LOCATION 's3a://sample/tbl1/'
""", con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [6]:
pd.read_sql_query("select * from sample.tbl1 limit 100", con=engine)

Empty DataFrame
Columns: [ckey, cval]
Index: []

In [7]:
pd.read_sql_query("insert into sample.tbl1 values (1, 'a')", con=engine)

Empty DataFrame
Columns: [Result]
Index: []

In [8]:
pd.read_sql_query("select * from sample.tbl1 limit 100", con=engine)

   ckey cval
0     1    a

In [ ]:
pd.read_sql_query("""
CREATE TEMPORARY VIEW MyTbl1View (ckey int, cval varchar(64))
USING minioSelectCSV OPTIONS (path  's3a://sample/tbl1/')
""", con=engine)