In [ ]:
!pip install sqlalchemy
!pip install pyhive
!pip install thrift
!pip install sasl
!pip install thrift-sasl 
!pip install psycopg2

import psycopg2
import sqlalchemy
import pandas as pd
from sqlalchemy.engine import create_engine

In [ ]:

engine = create_engine('hive://spark-thrift:10000/default')
pd.read_sql_query("create database if not exists sample",con=engine)
pd.read_sql_query("show databases",con=engine)

In [ ]:
pd.read_sql_query("use sample", con=engine)
pd.read_sql_query("show tables", con=engine)

In [ ]:

pd.read_sql_query("""
    create external table if not exists sample.tbl1 (ckey int, cval varchar(64))
    ROW FORMAT DELIMITED 
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE 
    LOCATION 's3a://sample/'
""", con=engine)

In [ ]:
pd.read_sql_query("select * from sample.tbl1 limit 100", con=engine)

In [ ]:
pd.read_sql_query("insert into sample.tbl1 values (1, 'a')", con=engine)

In [ ]:
pd.read_sql_query("select * from sample.tbl1 limit 100", con=engine)